.logo {
   margin: 45px auto 41px 0;
   background-color: transparent;
}

@media screen and (max-width: 900px) {
    .logo {
        margin-left: calc((100vw - 581px)/2);
    }
}

@media screen and (max-width: 590px) {
    .logo {
        width: 126px;
        margin: 28px auto 32px 27px;
    }
}